@model Login

<div class="text-center mt-5">
    <h1 class="display-4 mb-5">Добро пожаловать в Книжный клуб.</h1>
    <p class="mb-5">
        Здесь вы сможете следить за своими успехами в обучении программированию. Тут есть подборка книг, которая поможет вам, отмечайте каждую прочитанную книгу и
        следите за своим прогрессом.
    </p>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Добро пожаловать, @User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    }
    else
    {
        <form method="post" asp-action="Login" asp-controller="Account">
            <label>Логин (латинница):</label>
            <input asp-for="Name" />
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    }
</div>

