@model Login

<div class="text-center mt-5">
    <h1 class="display-4 mb-5">Добро пожаловать в Книжный клуб.</h1>
    <p class="mb-5">
        Здесь вы сможете следить за своими успехами в обучении программированию. Тут есть подборка книг, которая поможет вам, отмечайте каждую прочитанную книгу и
        следите за своим прогрессом.
    </p>

    @if (string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetString("Username")))
    {
        <form method="POST" asp-action="Login" asp-controller="Account">
            <label>Введите логин</label>
            <input asp-for="Name" asp-controller="Account" />
            <input type="submit" class="btn btn-primary" value="Авторизоваться" />
        </form>
    }
    else
    {
        @if (!string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetString("Username")))
        {
            <p>Добро пожаловать, @ViewContext.HttpContext.Session.GetString("Username")</p>

            <form method="POST" asp-controller="Account" asp-action="Logout">
                <input class="btn btn-primary" type="submit" value="Выйти"/>
            </form>
        }
    }

</div>

