@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-5">Добро пожаловать в Книжный клуб.</h1>
    <p class="mb-5">Здесь вы сможете следить за своими успехами в обучении программированию. Тут есть подборка книг, которая поможет вам, отмечайте каждую прочитанную книгу и 
        следите за своим прогрессом.</p>
    <button class="btn btn-primary">Зарегистрироваться</button>
</div>
